#seccion-tarjetas{
    margin-top:10%;
    height: 60%;
}
.card{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    width:20% !important;
    margin:10px;
    height:250px !important;
    padding: 20px;

}
.group{
    display:flex;
    justify-content:center;
    align-items:center;
}

#creador{
    width:60% !important;
}

input[type="text"]:invalid,input[type="number"]:invalid,input[type="email"]:invalid,select:invalid{
    border-color:red;
}
input[type="text"]:valid,input[type="number"]:valid,select:valid,input[type="email"]:valid{
    border-color:green;
}
